login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #005b41;
}

.login-box {
  background-color: #008170;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: #0074b8;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: #005b97;
}

.login-text {
  color: #333333;
  font-size: 16px;
  margin-top: 20px;
}

.login-link {
  color: #0074b8;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover {
  color: #005b97;
}
