.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005b41;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-logo p {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar-links li:hover {
  color: #0074b8;
  background-color: #fff;
}
