.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #005b41;
}

.signup-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.signup-form {
  width: 300px;
  padding: 20px;
  background-color: #008170;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.signup-button {
  background-color: #fff;
  color: #0074b8;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0074b8;
  color: #fff;
}

.login-text {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.login-link {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}
